# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.envrc

# Build / distribution
build/
dist/
*.egg-info/
.eggs/
wheels/
share/python-wheels/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/

# SQLite / local db files
db.sqlite3
db.sqlite3-journal

# Flask/Django specific
instance/
.webassets-cache

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# MyPy / PyType
.mypy_cache/
.pytype/

# Editor settings
.vscode/
.idea/
